* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html, body, .container { 
    height: 100%;
    font-family: Arial, sans-serif; 
}

.wrapper { 
    height: 100%;
    display: flex;
    flex-direction: column;
}

#modal {
    display: flex;
    flex-direction: column;
    justify-content: center;

    display: none;
    transition: display 0.3s ease;

    background-color: #006159;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 85vh;
    width: 85vw;

    border-radius: 10px;
    border: 2px solid white;

    padding: 1rem;
}

#modal > span {
    position: absolute;
    padding: 1rem;
    top: 0;
    right: 0.4rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 10;
}

#modal-body {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

#modal-body > * {
    background-color: lightgray;
    min-width: 20rem;
}


.main-content {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1 1 auto;

    background-image: url("../images/health-still-life-with-copy-space.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-content > * {
    margin-top: 2rem;
}

#content {
    flex: 1 0 auto;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}

#content > div {
    flex: 1 1 20rem;
    min-width: 20rem;
    height: 13rem;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
}

#searchBar {
    padding: 1rem 1rem;
    border-radius: 20px;
    width: 100%;
    transition: border-color 0.3s ease;
    outline: none;

}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    /* justify-content: flex-start;
    align-items: flex-start; */
}

select {
    height: 2rem;
}

.filterDiv button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    height: 2rem;
    width: 2rem;

    transition: border-color 0.3s ease;
}

button img {
    height: 1.5rem;
    width: 1.5rem;
}

.filterSelects {
    border-radius: 10px;
    padding: 0 1rem;
    transition: border-color 0.3s ease;
    width: 10rem;
}

.filterDiv {
    display: flex;
    gap: 0.3rem;
}

.filters > * {
    margin-top: 0.5rem;
}

#adminBtn {
    height: 2rem;
    padding: 0 1rem;
    border-radius: 10px;
    background-color: #006159;
    color: white;
    border: none;
    margin-left: auto; /* pushes element to the right */
    transition: background-color 0.3s ease;
}

#adminBtn:hover {
  background-color: #004e47;
  cursor: pointer;
}

#adminBtn:active {
  background-color: #003732;
}

#searchBar:hover,
#searchBar:focus,
#sortTime:hover,
#filterSpecialty:hover,
.filterDiv button:hover,
#content > div:hover {
    border-color: #006159;
}

