* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.container {
    height: 100%;
    font-family: Arial, sans-serif;

}

@media (max-width: 768px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 13px;
    }
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@keyframes modalSlide {
    from {
        top: 200%;
    }

    to {
        top: 50%;
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    /* modal is 1000 */

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.modal-backdrop.active {
    /* control opacity via js because removing the class via js doesnt trigger opacity transition but sets to 0 immediately */
    visibility: visible;
    pointer-events: auto; 
}

#modal {
    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 50vh;
    width: 50vw;

    border-radius: 10px;
    border: 2px solid white;

    padding: 2rem;
    z-index: 1000;

    transition: opacity 0.5s ease;
}

#modal.active {
    animation: modalSlide 0.5s ease;
}

#modal.hide {
    animation: modalSlide 0.5s ease reverse forwards; /* forwards because its reversed. keeps top at 200% after animation ends */
}

#closeModal {
    position: absolute;
    padding: 0 0.5rem;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 2rem;
    color: #015c5d;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;

    background: transparent;
    border: none;
}

#closeModal:active {
    color: black;
}

#modal-body {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

#modal-body>* {
    width: 90%;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    outline: none;
    border: 2px solid lightgray;
    transition: border-color 0.3s ease, filter 0.3s ease;
}

#modal-body>*:hover {
    border-color: #017d7e;
}

#modal-body button {
    background-color: #017d7e;
    color: white;
    margin-top: auto;
    font-size: 1.5em;
}

#modal-body button:hover {
    filter: brightness(1.2);
}

.main-content {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1 1 auto;

    /* background-image: url("../images/health-still-life-with-copy-space.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

    background: fixed no-repeat center/cover url("../images/health-still-life-with-copy-space.jpg");
}

.main-content>* {
    margin-top: 2rem;
}

#content {
    flex: 1 0 auto;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}

#content>div {
    flex: 1 1 20rem;
    min-width: 20rem;
    max-width: 30rem;
    height: 13rem;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
}

#searchBar {
    padding: 1rem 1rem;
    border-radius: 10px;
    width: 100%;
    transition: border-color 0.3s ease;
    outline: none;

}

.filter-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    /* justify-content: flex-start;
    align-items: flex-start; */
}

.filterDiv>* {
    height: 2rem;
    border-radius: 10px;
}

.filterDiv button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    padding: 0 0.5rem;

    transition: border-color 0.3s ease;
}

.filterDiv button img {
    height: 1.5rem;
    width: 1.5rem;
}

.filterSelects {
    padding: 0 1rem;
    transition: border-color 0.3s ease;
    width: 10rem;
}

.filterDiv {
    display: flex;
    gap: 0.3rem;
}

.filter-wrapper>* {
    margin-top: 0.5rem;
}

#adminBtn {
    height: 2rem;
    padding: 0 1rem;
    border-radius: 10px;
    background-color: #015c5d;
    color: white;
    border: none;
    margin-left: auto;
    /* pushes element to the right */
    transition: background-color 0.3s ease;
}

#adminBtn:hover {
    background-color: #017d7e;
    cursor: pointer;
}

#adminBtn:active {
    background-color: #015c5d;
    transition: none;
}

#searchBar:hover,
#searchBar:focus,
#filterTime:hover,
#filterSpecialty:hover,
.filterDiv button:hover,
#content>div:hover {
    border-color: #006159;
}