* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html, body, .container, .wrapper { 
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif; 
}

#modal {
    display: none;
    transition: display 0.3s ease;
}

.main-content {
    padding: 2rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    background-image: url("../images/background_by_parentingupstream_from_pixabay.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-content > * {
    margin-top: 2rem;
}

#searchBar {
    padding: 1rem 1rem;
    border-radius: 20px;
    width: 100%;
}

.filters {
    display: flex;
    flex-wrap: wrap;
}

.filters > * {
    /* applies to filter + button */
    margin-right: 1rem;
}

.filters select {
    height: 2rem;
}

.filters button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-color: #006159;

    border-radius: 10px;

    height: 2rem;
    width: 2rem;
}

button img {
    height: 1.5rem;
    width: 1.5rem;
}

#sortTime, #filterSpecialty {
    border-radius: 10px;
    padding: 0 1rem;
    transition: border-color 0.3s ease;
}

#timeDiv, #specialtyDiv {
    display: flex;
    gap: 0.3rem;
}

#searchBar {
    border-color: gray;
    outline: none;
    transition: border-color 0.3s ease;
}

#searchBar:focus, #sortTime:focus, #sortTime:hover, #filterSpecialty:focus, #filterSpecialty:hover {
    border-color: #006159;
}


