#today {
    background-color: #015c5d;
    color: white;
    border: none;
    transition: background-color 0.3s ease;

}

#today:hover {
  background-color: #017d7e;
  cursor: pointer;
}

#today:active {
  background-color: #015c5d;
}