
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #004742;
    padding-bottom: 4vh;
    /* text-shadow: 2px 2px 2px white; */
    /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
    /* -webkit-text-stroke: 1px white; */
}

main button {
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    padding: 1em 5em;
    min-width: 10vw;
    max-width: 90vw;
    color: #eeeeee;
    background-color: #015c5d;
    transition: background-color 0.3s ease;
    margin: 1rem;
}

main button:hover {
  background-color: #017d7e;
  cursor: pointer;
}

main button:active {
  background-color: #015c5d;
  transition: none;
}

.main-content {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    flex: 1 0 auto;
    min-width: 100vw;
    
    /* background-image: url("../images/health-still-life-with-copy-space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */

    background: fixed no-repeat center/cover url("../images/health-still-life-with-copy-space.jpg");
}
/* 
#header {
    height: 5rem;
    background: #006159;
    color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0 2rem;
    min-width: 100vw;
    border-bottom: 2pt solid gray;
    font-size: 2rem;
    font-weight: bold;
}

#header > a {
    height: 100%;
    display: flex;
    align-items: center;
}

#header_logo {
    height: 80%;
}

#footer {
    height: 8rem;
    background: #006159;
    color: #606060;
    display: flex;
    align-items: center;
    min-width: 100vw;
    flex-wrap: wrap;
    justify-content: space-between;

    border-top: 2pt solid gray;

    padding: 0 3rem;
}

#footer_logo {
    height: 80%;
}

#footer > span {
    max-width: 60ch;
    color: #8e8e8e;
    border-left: 2pt solid gray;
    padding-left: 1rem;
} */

#modal {
    display: flex;
    flex-direction: column;
    justify-content: center;

    display: none;
    /* add box shadow */
    transition: display 0.3s ease;

    background-color: #006159;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 85vh;
    width: 85vw;

    border-radius: 10px;
    border: 2px solid white;

    padding: 1rem;
}

#closeModal {
    position: absolute;
    padding: 1rem;
    top: 0;
    right: 0.4rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 10;

    background: transparent;
    border: none;
}

#closeModal:active {
    color: lightgray;
}

#modal-body {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

#modal-body > * {
    min-width: 20rem;
}