* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #004742;
    padding-bottom: 4vh;
    text-shadow: 2px 2px 2px white;
}

button {
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    padding: 1em 5em;
    min-width: 10vw;
    max-width: 90vw;
    color: #eeeeee;
    background-color: #006159;
    transition: background-color 0.3s ease;
    margin: 1rem;
}

button:hover {
  background-color: #004e47;
  cursor: pointer;
}

button:active {
  background-color: #003732;
}

.main-content {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url("../images/health-still-life-with-copy-space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    flex: 1 0 auto;
    min-width: 100vw;
    /* does the header and footer overlap the main-content or does the height need adjustment? */
    background-position: center;
    background-attachment: fixed;
}

#header {
    /* z.B. */
    height: 5rem;
    background: #006159;
    color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0 2rem;
    min-width: 100vw;
    border-bottom: 2pt solid gray;
    font-size: 2rem;
    font-weight: bold;
}

#header > a {
    height: 100%;
    display: flex;
    align-items: center;
}

#header_logo {
    height: 80%;
}

#footer {
    height: 8rem;
    background: #006159;
    color: #606060;
    display: flex;
    align-items: center;
    min-width: 100vw;
    flex-wrap: wrap;
    justify-content: space-between;

    border-top: 2pt solid gray;

    padding: 0 3rem;
}

#footer_logo {
    height: 80%;
}

#footer > span {
    max-width: 60ch;
    color: #8e8e8e;
    border-left: 2pt solid gray;
    padding-left: 1rem;
}

.modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

#modal-body {
    background: rgb(225, 225, 225);
    padding: 2em;
    border-radius: 12px;
    min-width: 50vw;
    max-width: 90vw;
    box-shadow: 0 4px 24px rgba(0,0,0,0.2);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}